#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.home-card {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	padding: 8px;
	text-align: left;
}

thead tr {
	background-color: #f0f0f0;
}

tbody tr.highlight {
	font-weight: bold;
	background-color: #add8e6;
}

.filters-container {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.filters-container input,
.filters-container select {
	margin-right: 10px;
}